<nav class="navbar">
  <div class="container-fluid">
    <button class="navbar-brand" routerLink="/">
      <div class="avatar-img"></div>.
    </button>

    <ul class="navbar-nav" [ngClass]="{'show': menuOpen}">
      <li class="nav-item">
        <button class="nav-link" (click)="scrollToAbout()">{{ header.profil }}</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" (click)="scrollToSkills()">{{ header.competences }}</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" routerLink="/">{{ header.portfolio }}</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" routerLink="/">{{ header.contact }}</button>
      </li>
    </ul>
  </div>

  <button class="navbar-toggler" type="button" (click)="toggleMenu()">
    <mat-icon class="navbar-toggler-icon">menu</mat-icon>
  </button>
</nav>