.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 100;
    padding: 15px 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    margin-left: 100px;
  }
  
  .avatar-img {
    width: 60px;
    height: 60px;
    border-radius: 40%;
    background-image: url('../../../assets/images/avatar.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0 150px;
    padding: 0;
  }
  
  .navbar-nav .nav-item {
    margin-left: 50px;
  }
  
  .navbar-nav .nav-link {
    color: rgb(198, 197, 197);
    font-size: 14px;
    font-family: "Gill Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  button {
    text-decoration: none;
    border: none;
    box-shadow: none;
    background: transparent;
  }
  
  button:hover {
    text-decoration: none;
    background-color: transparent;
  }
  
  .navbar-toggler {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 60px;
  }
  
  .navbar-toggler-icon {
    color: white;
    font-size: 30px;
  }
  
  @media screen and (max-width: 1000px) {
    .navbar {
      padding: 15px;
      justify-content: space-between;
    }
  
    .container-fluid {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-brand {
      margin-left: 0;
      margin-bottom: 10px;
    }
  
    .navbar-nav {
      flex-direction: column;
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
      display: none;

      &.show {
        display: flex;
        flex-direction: column;
      }
    }
  
    .navbar-nav.show {
      display: flex;
    }
  
    .navbar-nav .nav-item {
      margin-left: 0;
      margin-bottom: 10px;
    }
  
    .navbar-nav .nav-link {
      font-size: 16px;
    }
  
    .navbar-toggler {
      display: block;
      cursor: pointer;
    }

  }
  
  @media screen and (max-width: 480px) {
    .navbar-nav .nav-link {
      font-size: 14px;
    }
  }
  