section {
  width: 100%;
  height: 100vh;
}

.full-screen-image {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/home-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.hero-content {
  text-align: center;
  color: rgb(206, 206, 206);
  position: relative;
}

.hero-name {
  font-size: 3.5rem;
  font-weight: bold;
  color: #527497;
}

.hero-job-title {
  font-size: 2rem;
  margin-top: 10px;
}

.hero-job-title span {
  text-decoration: underline;
  color: #527497;
}

.hero-button {
  display: inline-block;
  background-color: #527497;
  color: white !important;
  border-radius: 5px;
  margin: 15px 0;
  font-size: 1.1rem;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: #527497;
  }
}

@media screen and (max-width: 1000px) {
  .hero-name {
    font-size: 3rem;
  }

  .hero-job-title {
    font-size: 1.5rem;
    margin-top: 10px;
  }
}

@media screen and (max-width: 700px) {
  .hero-name {
    font-size: 2rem;
  }

  .hero-job-title {
    font-size: 1rem;
    margin-top: 10px;
  }
}