<section>
    <div class="full-screen-image">
        <div class="hero-content">
            <div class="hero-name">
                {{ name }}
            </div>
            <div class="hero-job-title">
                Développeur <span>Full-Stack</span>
            </div>
            <div class="space"></div>
            <button mat-button class="hero-button" (click)="scrollToAbout()">{{ btn?.connaissance }}</button>
        </div>
    </div>
</section>

<app-profil></app-profil>

<app-currentjob></app-currentjob>

<app-skills></app-skills>

<app-experiences></app-experiences>

<app-cv></app-cv>

<app-contact></app-contact>