<section>
    <div class="full-screen-image">
        <div class="hero-content">
            <div class="hero-name">
                Zine-Eddine TOUBAL
            </div>
            <div class="hero-job-title">
                Développeur <span>Full-Stack</span>
            </div>
            <div class="space"></div>
            <button mat-button class="hero-button" (click)="scrollToAbout()">Faisons connaissance</button>
        </div>
    </div>
</section>
    
<app-profil></app-profil>

<app-currentjob></app-currentjob>