<footer>
  <div class="footer-content">
    <p>{{ footer?.titre }}</p>

    <nav class="footer-links">
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/zine-eddine-toubal/" target="_blank" rel="noopener noreferrer" aria-label="Profil LinkedIn">
            LinkedIn
          </a>
        </li>
        <li>
          <a href="https://www.malt.fr/profile/zineeddinetoubal" target="_blank" rel="noopener noreferrer" aria-label="Profil Malt">
            Malt
          </a>
        </li>
          <li>
          <a href="https://www.collective.work/profile/zineeddine-toubal" target="_blank" rel="noopener noreferrer" aria-label="Profil Collective">
            Collective
          </a>
        </li>
      </ul>
    </nav>

    <a href="javascript:void(0)" (click)="navigateToMentionsLegales()" class="mentions-link" role="button" aria-label="Mentions légales">
      Mentions légales
    </a>
  </div>
</footer>